/*CSS for my demonstration project*/
body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 1000px;
   margin: auto;
   background-color: #daacba;
}
h1 {
   color: #c01229 ;
   margin-left: 80px;
   text-align: center;
}
nav{
   background-color: #c49f26 ;
   height: 40px;
   padding-bottom: 20px;
}
nav ul {
   list-style: none; 
   padding-top: 8px; 
}
nav li {
   display: inline;
}
nav a {
   text-decoration: none;
   color: rgb(219, 78, 172);
   font-size: 1.2em;
   font-weight: bold;
   margin-right: 20px;
}
nav a:hover{
   color: black;
}
section {
   float: left;
   width: 100%;
   margin-right: 5%;
   margin-bottom: 20px;
}

footer {
   clear: both;
   background-color: #c49f26;
   color: rgb(219, 78, 172);
   height: 30px;
   text-align: center;
}
footer a {
   text-decoration: none;
   color: rgb(219, 78, 172);
   margin-left: 20px;
}

table {
  width: 100%;
}
.image_right{
   float:right;
   margin-left: 10px;
   margin-bottom: 10px;
}
.image_left{
   float:left;
   margin-right: 10px;
   margin-bottom: 10px;
}
tr {
   text-align: center;
   border-style: groove;
   border-width:  5px;  
}

td{
   text-align: center;
   border-style: groove;
   border-width:  5px;  
}

h3 {
   color: #c01229 ;
   margin-left: 80px;
   text-align: center;